.header-b-log {
  width: 100%;
  height: 100%;
  background: #e1e1e1; }
  .header-b-log div {
    width: 1190px;
    margin: 0 auto; }

#cont-log {
  width: 100%;
  height: 100%;
  background: url(../img/main_log.jpg);
  overflow: hidden; }
  #cont-log .log-wap {
    margin: 70px auto;
    width: 1190px;
    position: relative; }
    #cont-log .log-wap > div:nth-of-type(1) {
      float: left; }
      #cont-log .log-wap > div:nth-of-type(1) img {
        width: 600px;
        height: 640px; }
    #cont-log .log-wap > div:nth-of-type(2) {
      float: left;
      width: 540px;
      height: 640px;
      background: #fff;
      font-size: 16px;
      color: #666666; }
      #cont-log .log-wap > div:nth-of-type(2) .log-ct {
        width: 400px;
        margin: 0 auto;
        margin-top: 90px; }
        #cont-log .log-wap > div:nth-of-type(2) .log-ct h4 {
          width: 200px;
          font-weight: normal;
          color: #000;
          border-bottom: 1px solid #cccccc;
          float: left;
          padding-bottom: 5px;
          text-align: center;
          cursor: pointer; }
        #cont-log .log-wap > div:nth-of-type(2) .log-ct table {
          padding: 50px 0;
          text-align: left; }
          #cont-log .log-wap > div:nth-of-type(2) .log-ct table tr img {
            width: 258px;
            margin: 0 auto;
            cursor: pointer; }
          #cont-log .log-wap > div:nth-of-type(2) .log-ct table td {
            padding-top: 18px; }
        #cont-log .log-wap > div:nth-of-type(2) .log-ct #fis-td {
          text-indent: 180px; }
        #cont-log .log-wap > div:nth-of-type(2) .log-ct input[type="text"], #cont-log .log-wap > div:nth-of-type(2) .log-ct input[type="password"] {
          width: 259px;
          height: 40px;
          font-size: 16px;
          text-indent: 10px; }
        #cont-log .log-wap > div:nth-of-type(2) .log-ct #show-log {
          position: relative;
          /* 						table{
          							position:absolute;
          						} */ }
          #cont-log .log-wap > div:nth-of-type(2) .log-ct #show-log #tab1 {
            display: block; }
          #cont-log .log-wap > div:nth-of-type(2) .log-ct #show-log #tab2 {
            display: none; }
            #cont-log .log-wap > div:nth-of-type(2) .log-ct #show-log #tab2 input[type="password"] {
              width: 100px;
              background: #ebebe4; }
            #cont-log .log-wap > div:nth-of-type(2) .log-ct #show-log #tab2 input[type="button"] {
              width: 130px;
              height: 40px;
              font-size: 14px;
              background: #f4f4f4;
              border: none;
              border: 1px solid #cccccc;
              text-align: center;
              line-height: 40px;
              margin-left: 20px;
              color: #666666; }
      #cont-log .log-wap > div:nth-of-type(2) .no-marg {
        margin-top: -40px; }
      #cont-log .log-wap > div:nth-of-type(2) .log-p > p:nth-of-type(1) {
        height: 50px;
        text-align: center;
        line-height: 50px;
        border-top: 1px solid #cccccc;
        border-bottom: 1px solid #cccccc; }
      #cont-log .log-wap > div:nth-of-type(2) .log-p > p:nth-of-type(2) {
        padding: 13px 0;
        text-align: center; }
    #cont-log .log-wap > div:nth-of-type(3) {
      position: absolute;
      top: -44px;
      left: 939px; }
      #cont-log .log-wap > div:nth-of-type(3) p {
        width: 197px;
        height: 37px;
        background: #a0603d;
        text-align: center;
        line-height: 37px;
        cursor: pointer;
        color: #fff; }

/*# sourceMappingURL=log.css.map */
