$warpwidth:1190px;
#secondPage{
	width:100%;
	height:100%;
	background:#ebebeb;
	.secondPage1{
		background:#fff;
		&>div{
			padding-left:40px;
		}
		h4{
			height:38px;
			line-height:38px;
			font-size:16px;
			background:url(../img/tb1.jpg) no-repeat 0 3px;;
			background-color:#f3f3f3;
			color:#a0603d;
			text-indent:38px;
			border-bottom:2px solid #a0603d;
		}
		h6{
			float:left;
			margin-top:13px;font-size:15px;
		}
		.folt-1{
			float:left;

			input[type="checkbox"]{
				margin-left:60px;
				margin-top:13px;
				margin-bottom:13px;
			}
			input[checked="checked"]{
					margin-left:30px;
				margin-top:10px;
			}
			span{
					background:#a0603d;
					color:#fff;
				}
		}
	}
	.secondPage2{
		
		background:#fff5eb;
		padding:10px;
		margin-top:10px;
		margin-bottom:10px;
		position:relative;
		.pos-tip{
			position:absolute;
			top:0px;
			left:-27px;
			width:27px;
			height:116px;
			text-align:center;
			
			background:#a0603d;
			color:#fff;
			font-size:14px;
		}
			#inerct{
				width:1100px;
				margin:0 auto;
				li{
					margin-left:30px;
				}
		}
		}
		.secondPage3{
			background:#f3f3f3;
			margin-bottom:10px;
			padding:24px 24px 75px 24px;
			.link-bt{
				width:336px;
				margin:0px auto;
				margin-top:55px;
				span{
					margin-left:3px;
				}
				&>span:nth-of-type(1){
					color:red;
					display:inline-block;
					cursor:pointer;
				}
				&>span:nth-of-type(2){
					width:57px;
					height:27px;
					line-height:27px;
					text-align:center;
					background:#e1e1e1;
					display:inline-block;
					cursor:pointer;
				}
				&>span:nth-of-type(3){
					cursor:pointer;
					display:inline-block;
					width:27px;
					height:27px;
					line-height:27px;
					text-align:center;
				}
				&>span:nth-of-type(4){
					cursor:pointer;
					display:inline-block;
					width:27px;
					height:27px;
					line-height:27px;
					text-align:center;
					background:#e1e1e1;
				}
				&>span:nth-of-type(5){
					cursor:pointer;
					display:inline-block;
					width:27px;
					height:27px;
					line-height:27px;
					text-align:center;
					background:#e1e1e1;
				}
				&>span:nth-of-type(6){
					cursor:pointer;
					display:inline-block;
					width:27px;
					height:27px;
					line-height:27px;
					text-align:center;
					background:#e1e1e1;
				}
				&>span:nth-of-type(7){
					cursor:pointer;
					display:inline-block;
					width:27px;
					height:27px;
					line-height:27px;
					text-align:center;
					background:#e1e1e1;
				}
				&>span:nth-of-type(8){
					cursor:pointer;
					display:inline-block;
					width:57px;
					height:27px;
					line-height:27px;
					text-align:center;
					background:#e1e1e1;
				}
			}
			#inerct1{
				width:985px;
				margin:20px auto;
			}
		}
	}
	.secondPage-w{
		width:$warpwidth;
		margin:0 auto;
		font-size:14px;
	}