#secondPage {
  width: 100%;
  height: 100%;
  background: #ebebeb; }
  #secondPage .secondPage1 {
    background: #fff; }
    #secondPage .secondPage1 > div {
      padding-left: 40px; }
    #secondPage .secondPage1 h4 {
      height: 38px;
      line-height: 38px;
      font-size: 16px;
      background: url(../img/tb1.jpg) no-repeat 0 3px;
      background-color: #f3f3f3;
      color: #a0603d;
      text-indent: 38px;
      border-bottom: 2px solid #a0603d; }
    #secondPage .secondPage1 h6 {
      float: left;
      margin-top: 13px;
      font-size: 15px; }
    #secondPage .secondPage1 .folt-1 {
      float: left; }
      #secondPage .secondPage1 .folt-1 input[type="checkbox"] {
        margin-left: 60px;
        margin-top: 13px;
        margin-bottom: 13px; }
      #secondPage .secondPage1 .folt-1 input[checked="checked"] {
        margin-left: 30px;
        margin-top: 10px; }
      #secondPage .secondPage1 .folt-1 span {
        background: #a0603d;
        color: #fff; }
  #secondPage .secondPage2 {
    background: #fff5eb;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative; }
    #secondPage .secondPage2 .pos-tip {
      position: absolute;
      top: 0px;
      left: -27px;
      width: 27px;
      height: 116px;
      text-align: center;
      background: #a0603d;
      color: #fff;
      font-size: 14px; }
    #secondPage .secondPage2 #inerct {
      width: 1100px;
      margin: 0 auto; }
      #secondPage .secondPage2 #inerct li {
        margin-left: 30px; }
  #secondPage .secondPage3 {
    background: #f3f3f3;
    margin-bottom: 10px;
    padding: 24px 24px 75px 24px; }
    #secondPage .secondPage3 .link-bt {
      width: 336px;
      margin: 0px auto;
      margin-top: 55px; }
      #secondPage .secondPage3 .link-bt span {
        margin-left: 3px; }
      #secondPage .secondPage3 .link-bt > span:nth-of-type(1) {
        color: red;
        display: inline-block;
        cursor: pointer; }
      #secondPage .secondPage3 .link-bt > span:nth-of-type(2) {
        width: 57px;
        height: 27px;
        line-height: 27px;
        text-align: center;
        background: #e1e1e1;
        display: inline-block;
        cursor: pointer; }
      #secondPage .secondPage3 .link-bt > span:nth-of-type(3) {
        cursor: pointer;
        display: inline-block;
        width: 27px;
        height: 27px;
        line-height: 27px;
        text-align: center; }
      #secondPage .secondPage3 .link-bt > span:nth-of-type(4) {
        cursor: pointer;
        display: inline-block;
        width: 27px;
        height: 27px;
        line-height: 27px;
        text-align: center;
        background: #e1e1e1; }
      #secondPage .secondPage3 .link-bt > span:nth-of-type(5) {
        cursor: pointer;
        display: inline-block;
        width: 27px;
        height: 27px;
        line-height: 27px;
        text-align: center;
        background: #e1e1e1; }
      #secondPage .secondPage3 .link-bt > span:nth-of-type(6) {
        cursor: pointer;
        display: inline-block;
        width: 27px;
        height: 27px;
        line-height: 27px;
        text-align: center;
        background: #e1e1e1; }
      #secondPage .secondPage3 .link-bt > span:nth-of-type(7) {
        cursor: pointer;
        display: inline-block;
        width: 27px;
        height: 27px;
        line-height: 27px;
        text-align: center;
        background: #e1e1e1; }
      #secondPage .secondPage3 .link-bt > span:nth-of-type(8) {
        cursor: pointer;
        display: inline-block;
        width: 57px;
        height: 27px;
        line-height: 27px;
        text-align: center;
        background: #e1e1e1; }
    #secondPage .secondPage3 #inerct1 {
      width: 985px;
      margin: 20px auto; }

.secondPage-w {
  width: 1190px;
  margin: 0 auto;
  font-size: 14px; }

/*# sourceMappingURL=sePage.css.map */
